body {
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
}

img {
    max-width : 100px;
    max-height : 100px;
}

.score {
    margin-bottom: 10px;
}

.container {
    justify-content: center;
    display:flex;
    align-items: center;
    gap: 10px;
}

button {
    padding:0;
    border:none;
    height: 100px;
    width: 100px;
    max-width : 50%;
    max-height : 50%;
    background: white;
}
