body {
    margin: 0;
    background: grey;
    font-family: Roboto;
}

/*Header*/
.header {
    background-color: #1f2937;
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    font-size: 24px;
    font-weight: 900;
}

.header > .right-side{
    margin-left: 100px;
    color: white;
    flex: 1;
}

.header > .left-side {
    margin-right: 100px;
    color: white;
    flex: 1;
}

.header .left-side li{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header li {
    width: 100px;
}

ul {
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: end;
}

/* Top Section */

.top-section{
    background:#1f2937;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.top-section > .right-side,.left-side{
    flex: 1;
}

.top-section > .right-side{
    margin-left: 75px;
    width: 200px;
}

.top-section > .left-side{
    margin-right: 75px;
    justify-items: end;
}

.hero {
    padding: 0;
    font-size: 48px;
    color: white;
    width: 400px;
}

.decription{
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    width: 400px;
}

.image {
    background: grey;
    color:white;
    text-align: center;
    align-content: center;
    height: 200px;
    width: 400px
}

.button {
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: 2px solid #3882f6;
    background-color: #3882f6;
    text-align: center;
    align-content: center;
    width: 100px;
}

/* mid-section */

.mid-section{
    background: white;
    margin:0;
    height: 400px;
    text-align: center;;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-container .box{
    border: 4px solid #3882f6;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    justify-self: center;
}

.info{
    max-width: 200px;
}

.title{
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    padding: 30px
}


