body {
    margin: 0;
    background: grey;
    font-family: Roboto;
}

/*Header*/
.header {
    background-color: #1f2937;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    font-size: 24px;
    font-weight: 900;
}

.header .right-side, .left-side{
    margin-left: 100px;
    margin-right: 100px;;
    color: white;
    flex: 1;
}

.header .left-side li{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

/* Top Section */

.top-section{
    background:#1f2937;
    padding: 24px;
    display: flex;
    align-items: center;
}

.top-section .right-side, .left-side{
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
}
.top-section .left-side{
}

.hero {
    padding: 0;
    font-size: 48px;
    color: white;
}

.decription{
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
}

.image {
    background: grey;
    text-align: center;
}