body {
    margin: 0;
    padding: 0;
    justify-items: center;
    background-color: darkgray;
}

h1 {
    text-align: center;
}

.container {
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60vh;
}

.screen {
    font-weight: bold;
    font-size: large;
    background-color: ghostwhite;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    height: 120px;
    text-align: center;
}
.screen-btm {
    text-align: right;
    font-size: 80px;
    margin-right: 10px;
}

.screen-top {
    min-height: 1.5rem;
    margin: 10px;
    margin-bottom: 0px ;
    text-align: right;
}

button {
    border-radius: 10px;
    background-color:cornsilk;
    font-weight: bold;
    font-size: large;
    height: 100px;
    width: 100px;
}

button:hover{
    background-color: yellow;
}

.btn-container {
    margin: 10px;
    display: flex;
    
}

.left {
    height: 400px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number {
    width: 100px;
    height: 100px
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


