body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

button {
    background-color: bisque;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: lightgray;
}

.rainbow-active{
    background-color: pink;
}

.container {
    display:flex;
    width: 80vh;
    height: 80vh;
    border: 2px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
    background: white;
    transition: background-color 0.2s ease;
}
