.title{
    background-color: bisque;
    text-align: center;
    color:brown
}

.list{
    background-color: bisque;
    padding: auto;
    margin:0 auto;
    text-align: center;
}

.list li{
    font-size: large;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border: 4px solid blue;
    color: black
}

.flexbox{
    background-color: burlywood;
    display: flex;
    text-align: center;
}

.flexbox div{
    flex: 1;
    border: 4px solid brown;
    margin: 10px;
    padding: 10px;
    color: bisque;
}